ul{
    list-style-type: none;
    border-bottom: .1rem solid #0a000f;
    box-shadow: 0 4px 12px -4px rgba(10, 0, 15, 0.5);
}

a{
  text-decoration: none;  
}

.logo{
   width: 70px;
}


li {
    display: inline; 
    vertical-align: middle; 
}

.title{
font-size: 1.3rem;
font-weight: 600;
margin-right: 4rem;
}

.navEl{
    margin-left: 2rem;
}

.navEl a{
font-size: 1rem;
font-weight: 500;
color: rgba(119, 47, 47, 0.800);
}

.navEl a:hover{
    color: rgb(119, 47, 47); 
    font-weight: 600;
}

li:nth-child(1){
display: inline-block;
max-height: 60px;
}


@media (max-width: 520px) {
    .navEl{
        display: block;
        margin: .5rem 0;
    }
}

