
<div class="main-info">

     <h3>Informacje o aplikacji</h3>
    <p>
    Aplikacja została stworzona w Angularze z wykorzystaniem systemu modułowego (module-based). Mimo że 
    Angular promuje obecnie podejście standalone, wybrana metoda pozwala na lepsze zarządzanie strukturą i 
    zależnościami w projekcie, co sprawdziło się w realizacji tego rozwiązania.</p>
    <div >
        <h4>Link Do Repozytorium</h4>
        <div class="info-link">
            <a href="https://github.com/Wojtas7p/ivy-tech-app.git" 
        value="ivy-tech-app" target="_blank" rel="noopener noreferrer">ivy-tech-app</a>
        </div>
        
    </div>
    

</div>




